
.appContainer {
  background: url('https://mdbootstrap.com/img/Photos/new-templates/psychologist/img1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh !important;



}