<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPUTER COMPUTERM</title>
</head>
<body>
   <h1>dynamic greeting on cliclk</h1>
   <h2> change content of html using java script</h2>
   <p id="GFG">hello welcome to java script we aregoing to introducing javascript.it is a very useful script language</p>
   <button type="button onclick=document.get element byvc
   

    </nav>
    
</body>
</html>